name: K6 Integration Tests

on:
  pull_request:
    branches: [ main ]
  push:
    branches: [ main ]

jobs:
  k6:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Install K6
        run: |
          sudo apt-get update
          sudo apt-get install -y k6

      - name: Run REST test
        run: k6 run k6/rest/restcountries.js

      - name: Run GraphQL test
        run: k6 run k6/graphql/rickmorty-characters.js
